@model PagedList.IPagedList<Healthhub_Online.Models.DanhGia>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Kiemtralichhen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userBS = Session["userBS"] as Healthhub_Online.Models.QuanTri;
}

<hr />
<h2>DANH SÁCH LỊCH HẸN</h2>
<hr />
<h4>
    <a href="@Url.Action("Lichdangcho", "Bacsi", new { id = userBS.IDQuanTri  })">LỊCH CHƯA XÁC NHẬN</a>&nbsp;||
    <a href="@Url.Action("Lichdaxacnhan", "Bacsi", new { id = userBS.IDQuanTri  })">LỊCH ĐÃ XÁC NHẬN</a>&nbsp;||
    <a href="@Url.Action("Lichdatuvan", "Bacsi", new { id = userBS.IDQuanTri  })">LỊCH ĐÃ TƯ VẤN XONG</a>&nbsp;||
    <a href="@Url.Action("KiemTraDanhGia", "Bacsi", new { id = userBS.IDQuanTri  })">KIỂM TRA ĐÁNH GIÁ</a>
</h4>
<br />
<table class="table table-bordered">
    <tr>
        <th>
            Người đặt lịch
        </th>

        <th>
            Hẹn vào lúc
        </th>

        <th>
            Kết thúc lúc
        </th>

        <th>
            Nội Dung
        </th>

        <th>
            Đánh giá
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.HoTen)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LichKham.BatDau)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LichKham.KetThuc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DanhGiaChatLuong.DanhGiaChatLuong1)
            </td>



        </tr>
    }
</table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("KiemTraDanhGia",
        new { page }))
